<center><h1>Authors</h1></center>
<center>
    {{#link-to "users.new"}}
        <button class="save-btn" data-test-add-user>Add new author</button>
    {{/link-to}}
</center>
<br>
<div class="cards-wrapper">
    {{#each (sort-by "dateJoined:desc" model) as |user|}}
        {{#card-item data-test-user-id=user.id}}
            {{card-item/image img=user.image}}
            {{card-item/details user=user showIcons=true}}
        {{/card-item}}
    {{/each}}
</div>