& {
    display: flex;
	flex-direction: column;
    justify-content: flex-start;
    margin-left: 10px;
    height: 100%;
    width: 100%;
    
    > div:nth-of-type(1){
        flex-basis: 60%;
        flex-direction: column;
        display: flex;
        justify-content: space-evenly;
        
        > span:nth-of-type(1){
            font-size: 22px;
            font-weight: bold;
        }
    
        > span:nth-of-type(2){
            font-size: 18px;
        }

        > span:nth-of-type(3){
            font-size: 20px;
        }
	}

	> div:nth-of-type(2){
		background-color: lightgray;
		width: 200px;
        height: 5px;
        flex-basis: 5%;
    }
    
    > div:nth-of-type(3){
        flex-basis: 35%;
        font-size: 20px;
        justify-content: space-around;
        display: flex;
        //align-items: center;
        flex-direction: column;

        > div:nth-of-type(1) {
            font-size: 20px;
            justify-content: flex-start;
            display: flex;
            align-items: center;
            flex-direction: row;
        }

        > div:nth-of-type(2) {
            > i {
                margin-right: 10px;
                font-size: 22px;
                margin-left: 5px;
            }
    
            > a {
                font-size: 22px;
                margin-right: 10px;
            }
        }
        
        // > span {
        //     font-size: 16px;
        // }
	}
}